{% extends 'base.html' %}

{% from 'macro.html' import page_header %}

{% block title %}
    LMS - {{ course_data["Course Name"] }}
{% endblock title %}

{% block content %}
    {% if is_teacher %}
        <div class="row">
            <div class="col">
                <a href="{{ url_for('student_list', CourseID=course_data['Course ID']) }}" class="btn btn-lg btn-outline-primary btn-block" role="button">Students</a>
            </div>
            <div class="col">
                <a href="{{ url_for('new_content', CourseID=course_data['Course ID']) }}" class="btn btn-lg btn-outline-success btn-block" role="button">New Content</a>
            </div>
            <div class="col">
                <a href="{{ url_for('create_quizz', CourseID=course_data['Course ID']) }}" class="btn btn-lg btn-outline-success btn-block" role="button">Add Quizz</a>
            </div>
        </div>
    {% endif %}
    
    {{ page_header(course_data["Course Name"]) }}

    {% for content in content_list %}
    <div class="card mt-4">
        <div class="card-body">
            <h3 class="card-title">
                {{ content["Title"] }}
            </h3>
            <div class="card-text">
                {{ content["TextContent"] }}
            </div>
            <h6 class="card-subtitle mb-2 text-muted mt-2">
                Date: {{ content["CreatedAt"] }}
            </h6>
            
            {% if is_teacher %}
                <a href="{{ url_for('remove_content', CourseID=course_data['Course ID'], ContentID=content['ID'])}}" class="btn btn-sm btn-outline-danger" role="button">Remove</a>
            {% endif %}
        </div>
    </div>
{% endfor %}

 <!----------------------Duyen: add quiz list------------------------>
 {% for quiz in quiz_list %}
    <div class="card mt-4">
        <div class="card-body">
            <h3 class="card-title">
                {% if quiz["AllowStudents"] == 1 %}
                    <span class="text-success">[Visible]</span>
                    <a id="quiz-title-{{ quiz['QuizID'] }}" href="{{ url_for('quiz_responses', CourseID=course_data['Course ID'], QuizID=quiz['QuizID']) }}">{{ quiz["Title"] }}</a>
                {% else %}
                    <span class="text-warning">[Hidden]</span>
                    {{ quiz["Title"] }}
                {% endif %}
            </h3>
        
                {% if not is_teacher %}
                <div>
                    <a href="{{ url_for('quiz_result_student_list', CourseID=course_data['Course ID'], QuizID=quiz['QuizID'], StudentID=currentID) }}" class="btn btn-primary">Result</a>
                </div>
                {% endif %}
            <h6 class="card-subtitle mb-2 text-muted mt-2">
                Date: {{ quiz["CreatedAt"] }}
            </h6>
            {% if is_teacher %}
                <a href="{{ url_for('quiz_result_teacher_list',CourseID=course_data['Course ID'], QuizID=quiz['QuizID']) }}" class="btn btn-sm btn-info" role="button">View Quiz Results</a>
                {% if quiz["AllowStudents"] == 1 %}
                    <a href="{{ url_for('stop_students_viewing', CourseID=course_data['Course ID'], QuizID=quiz['QuizID']) }}" class="btn btn-sm btn-warning" role="button">Stop Students from Viewing</a>
                {% else %}
                    <a href="{{ url_for('allow_students_viewing', CourseID=course_data['Course ID'], QuizID=quiz['QuizID']) }}" class="btn btn-sm btn-success" role="button">Allow Students to View</a>
                {% endif %}
                <a href="{{ url_for('remove_quiz', CourseID=course_data['Course ID'], QuizID=quiz['QuizID'])}}" class="btn btn-sm btn-outline-danger" role="button">Remove</a>
            {% endif %}
            
        </div>
    </div>
{% endfor %}

 <!-----------------------END: add quiz list------------------------>
{% endblock content %}